<div style="padding: 1em;min-height: 80vh;">
  <div class="p-grid" style="margin-top: 3em;">
    <div class="p-col-1">
    </div>
    <div class="p-col-10">
      <div width="100%" style="margin-bottom: 1em;text-align: end;">
        <button pButton label="Create Farm" icon="pi pi-plus" class="p-button-success" [routerLink]="'/farm/create'"></button>
      </div>

      <p-table [value]="farmList" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>ชื่อฟาร์ม</th>
            <th>เจ้าของ</th>
            <th>สถานที่</th>
            <th>จำนวนวัว</th>
            <th width="10%"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-farm>
          <tr>
            <td>{{farm.farmName}}</td>
            <td>{{farm.ownerName}}</td>
            <td>{{farm.address}}</td>
            <td>{{farm.numberOfCow}}</td>
            <td>
              <div style="display: flex;">
                <div style="margin-right: 0.5em;">
                  <button pButton style="color: white;" icon="pi pi-pencil" class="p-button-warning" (click)="goToEdit(farm)"></button>
                </div>
                <div>
                  <button pButton icon="pi pi-trash" class="p-button-danger" (click)="deleteFarm(farm)"></button>
                </div>
              </div>


            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-col-1">

    </div>
  </div>
</div>
